[run]
source = src
omit =
    */tests/*
    */test_*
    */conftest.py
    */api-test.py
    */api/server.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[html]
directory = htmlcov
